.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid cyan;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 35px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: cyan;
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
p {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid cyan;
}

@property --scale {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

.animated-button {
    transform: rotate(20deg) scale(var(--scale));
    margin: 100px;
    animation: pulse 500ms alternate infinite;
}

@keyframes pulse {
    0% {
        --scale: 2;
    }
    100% {
        --scale: 3;
    }
}